@using FaceitParser.Models.App;
@model List<UserViewmodel>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Users | Faceit Parser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link rel="stylesheet" href="~/css/users.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
</head>
<div class="s-layout">
    <!-- Sidebar -->
    @await Html.PartialAsync("_Sidebar")

    <!-- Content -->
    <main class="s-layout__content">
        <div class="usersTable">
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
            <div class="functional">
                 <button class="button add">Add</button>
                 <div class="searchBlock">
                    <input class="swal2-input searchInput" required>
                    <button for="searchInput" class="button search">Search</button>
                 </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var user in Model)
                        {
                            <tr>
                                <td data-th="Username" scope="row">@user.UserName</td>
                                <td data-th="Role">@user.Role</td>
                                <td data-th="Create Date">@user.CreateDateTime</td>
                                <td data-th="Action">
                                    <a href="#" id="@user.UserName" onclick="Edit('@user.UserName');">Edit</a>
                                </td>
                                <td data-th="Action">
                                    <a href="../users/dump/@user.UserName">Dump</a>
                                </td>
                                <td data-th="Action">
                                    <a href="#" id="@user.UserName" onclick="Delete('@user.UserName');">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="pageNavigation">
                <button class="button prev">Prev</button>
                <h1 class="pageNum">0</h1>
                <button class="button next">Next</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/users.js"></script>
</div>
