@using FaceitParser.Models
@using FaceitParser.Models.App;
@using FaceitParser.Services
@model List<FaceitAccount>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Accounts | Faceit Parser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link rel="stylesheet" href="~/css/accounts.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
</head>
<div class="s-layout">
    <!-- Sidebar -->
    @await Html.PartialAsync("_Sidebar")

    <!-- Content -->
    <main class="s-layout__content">
        <div class="accountsTable">
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
            <div class="functional">
                <button class="button add">Add</button>
                <div class="searchBlock">
                    <input class="swal2-input searchInput" required>
                    <button for="searchInput" class="button search">Search</button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nickname</th>
                        <th scope="col">Token</th>
                        <th scope="col">Friends</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var user in Model)
                        {
                            <tr>
                                <td data-th="Nickname">@user.Name</td>
                                <td data-th="Token">@user.Token</td>
                                <td data-th="Friends">@user.FriendRequests/@FaceitService.LIMIT</td>
                                <td data-th="Action"><a href="#" id="@user.Token" onclick="Delete('@user.Token');">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="pageNavigation">
                <button class="button prev">Prev</button>
                <h1 class="pageNum">0</h1>
                <button class="button next">Next</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/accounts.js"></script>
</div>
