@using FaceitParser.Abstractions
@using Microsoft.AspNetCore.Identity
@inject IServiceResolver serviceResolver
@inject UserManager<IdentityUser> userManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Parsers | Faceit Parser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/parser.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
</head>
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
        <a class="s-sidebar__trigger" href="#0">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="s-sidebar__nav">
            <div class="menu-title">
                <span>Faceit</span>
                <span>Scanner</span>
            </div>
            <ul>
                <li>
                    <a class="s-sidebar__nav-link" href="/"> <i class="fa fa-home"></i><em>Home</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../parser"> <i class="fa fa-search"></i><em>Parser</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../blacklist"> <i class="fa fa-user-times"></i><em>Blacklist</em> </a>
                </li>

                <li>
                    <a class="s-sidebar__nav-link" href="../users"> <i class="fa fa-users"></i><em>Users</em> </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="tasksTable">
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
            <button class="add">Add</button>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Account</th>
                        <th scope="col">Delay</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        var user = await userManager.GetUserAsync(User);
                        var parsers = serviceResolver.Resolve(user.Id);
                        foreach (var parser in parsers)
                        {
                                    <tr>
                                        <td data-th="Name" scope="row"><a href="/parser/@parser.Name">@parser.Name</a></td>
                                        <td data-th="Account">@parser.faceitApi.SelfNick</td>
                                        <td data-th="Delay">@parser.Delay</td>
                                        <td data-th="Action"><a href="#" id="@parser.Name" onclick="Delete('@parser.Name');">Delete</a></td>
                                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/parser.js"></script>
</div>
